/* 
    General Styles
*/
body {
  background: url("https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png")
    no-repeat center center fixed;
  background-color: black;
  color: white;
  perspective: 1000px;
}

.logo {
  height: 7rem;
}

.card-sw {
  width: 70rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.div-red {
  color: red;
  border-top: solid 3px red;
}