/* 
    General Styles
*/
body {
  background: url("https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png")
    no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
  perspective: 1000px;
}

a {
  color: #ffc107;
  text-decoration: none;
}

a:hover {
  color: honeydew;
}

.logo {
  height: 7rem;
}

.card-container {
  min-width: 10vw;
  overflow-x: scroll;
  margin-inline: 3vw;
}

.card-sw {
  display: flex;
  flex-direction: row;
  width: 10vw;
  min-width: 18vw;
  /* margin-inline: 3vw; */
  margin-bottom: 2vh;
}

.div-red {
  color: red;
  border-top: solid 3px red;
}

/* Button */
.btn-wide {
  width: 13rem;
  height: 3rem;
  margin: 10px;
  border-radius: 50px;
  font-size: 18px;
  /* color: #708090; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-normal {
  box-shadow: -3px -3px 7px #fbff03, 3px 3px 7px #fbff03;
}

.btn-pressed {
  box-shadow: -3px -3px 7px #fbff03 inset, 3px 3px 7px #fbff03 inset;
}

.btn-normal:active {
  box-shadow: -3px -3px 7px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
  font-size: 16px;
  user-select: none;
}

/* Icon Button */
.icon-button i {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  z-index: 10;
}

.icon-button i:hover {
  color: red;
  background-color: #ffc107;
  font-size: 1.8rem;
}

.button {
  z-index: 1;
  margin: .5em;
  margin-top: 15px;
  font-size: 1rem;
  padding: .2em .6em;
  min-width: 2.4em;
  min-height: 2.4em;
  border-radius: 8.2em;
  box-shadow: 0 3px 5px rgba(226, 230, 3, 0.5); 
  outline: none;
}

.button:active {
  box-shadow: -3px -3px 7px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
  font-size: 16px;
  user-select: none;
}