/* 
    General Styles
*/
body {
  background-color: black;
  color: white;
}

.logo {
  height: 7rem;
  /* padding-left: 2rem; */
  /* width: 10rem; */
}

.card-sw {
  width: 25rem;
  padding: 2rem;
  display: flex !important;
  flex-wrap: nowrap !important;
}

.card-details {
  /* max-width: 540px; */
}

.div-red {
color: red;
border-top: solid 3px red;
}